@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary" @onclick="ShowToast">Show Toast</button>
<button class="btn btn-danger" @onclick="ShowSecondToast">Show Error Toast</button>

@code {
    public async Task ShowToast()
    {
        await ToastService.Show(title: "Hello", message: "Sample Notification.", timestamp: "now");
    }

    public async Task ShowSecondToast()
    {
        await ToastService.Show(title: "Error", message: "Something went wrong!", timestamp: "now",
            type: ToastType.Error, position: ToastPosition.TopCenter);
    }
}