@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="d-md-flex justify-content-center">
        <div class="text-center">
            <h1 class="fw-bolder fs-1 text-primary">ManuHub.Blazor.Toast</h1>
            <p>Blazor component for displaying Bootstrap-based toast notifications with customizable types and positions.</p>
        </div>
    </div>
    <hr class="border-primary" />

    <fieldset class="my-2">
        <legend>⚛️ Features</legend>
        <hr class="border-secondary m-0" />
        <ul class="mt-4">
            <li class="fw-semiblod">Fully integrated with Bootstrap toasts</li>
            <li class="fw-semiblod">Supports different toast types (Success, Error, Info, Warning, Default)</li>
            <li class="fw-semiblod">Customizable toast positions (Top-Right, Top-Left, Bottom-Right, Bottom-Left, MiddleCenter, etc.)</li>
            <li class="fw-semiblod">Compatible with Blazor Server, WebAssembly (WASM), and Hybrid apps</li>
        </ul>
    </fieldset>

    <fieldset class="mt-5">
        <legend>🚀 Toast Type</legend>
        <hr class="border-secondary m-0" />
        <div class="d-md-flex justify-content-between mt-4">
            <button class="btn btn-light btn-width" @onclick="()=>ShowTypeToast(ToastType.Default)">Default</button>
            <button class="btn btn-danger btn-width" @onclick="()=>ShowTypeToast(ToastType.Error)">Error</button>
            <button class="btn btn-info btn-width" @onclick="()=>ShowTypeToast(ToastType.Info)">Info</button>
            <button class="btn btn-success btn-width" @onclick="()=>ShowTypeToast(ToastType.Success)">Success</button>
            <button class="btn btn-warning btn-width" @onclick="()=>ShowTypeToast(ToastType.Warning)">Warning</button>
        </div>
    </fieldset>

    <fieldset class="mt-5">
        <legend>🎨 Toast Postion</legend>
        <hr class="border-secondary m-0" />
        <div class="d-md-flex justify-content-between mt-4">
            <button class="btn btn-primary btn-width" @onclick="()=>ShowPositionToast(ToastPosition.TopLeft)">Top Left</button>
            <button class="btn btn-primary btn-width" @onclick="()=>ShowPositionToast(ToastPosition.TopCenter)">Top Center</button>
            <button class="btn btn-primary btn-width" @onclick="()=>ShowPositionToast(ToastPosition.TopRight)">Top Right</button>
        </div>

        <div class="d-flex justify-content-between py-3">
            <button class="btn btn-primary btn-width" @onclick="()=>ShowPositionToast(ToastPosition.MiddleLeft)">Middle Left</button>
            <button class="btn btn-primary btn-width" @onclick="()=>ShowPositionToast(ToastPosition.MiddleCenter)">Middle Center</button>
            <button class="btn btn-primary btn-width" @onclick="()=>ShowPositionToast(ToastPosition.MiddleRight)">Middle Right</button>
        </div>

        <div class="d-flex justify-content-between">
            <button class="btn btn-primary btn-width" @onclick="()=>ShowPositionToast(ToastPosition.BottomLeft)">Bottom Left</button>
            <button class="btn btn-primary btn-width" @onclick="()=>ShowPositionToast(ToastPosition.BottomCenter)">Bottom Center</button>
            <button class="btn btn-primary btn-width" @onclick="()=>ShowPositionToast(ToastPosition.BottomRight)">Bottom Right</button>
        </div>
    </fieldset>

    <fieldset class="mt-5">
        <legend>✨ Contributions</legend>
        <hr class="border-secondary m-0" />
        <p class="mt-4">
            Feel free to submit issues or pull requests to improve the package!
        </p>
    </fieldset>

</div>

<style>
    .btn-width {
        min-width: 200px;
    }
</style>


@code {

    public async Task ShowTypeToast(ToastType toastType)
    {
        await ToastService.Show(title: "Hello", message: "Sample Notification.", timestamp: "now", type: toastType);
    }

    public async Task ShowPositionToast(ToastPosition toastPosition)
    {
        await ToastService.Show(title: "Hello", message: "Sample Notification.", timestamp: "now", type: ToastType.Info, position: toastPosition);
    }
}